<%- include('./includes/head.ejs') %>

<div class="container">
  <form class="guess-form" action="/guessGame/getNumber/" method="get">
    <h1 class="message">Enter Game</h1>
    <button class="btn tryAgain" type="submit">Enter</button>
  </form>
</div>

<%- include('./includes/end.ejs') %>
